body{
    background-color: beige;
}
.container{
    display: flex;
    justify-content: center;
}
.edit{
    background-color: rgb(255, 255, 255);
    margin-top:  10% ;
    border: 1px solid;
    border-radius: 5px;
    padding: 20px;
    width: 30%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}